@model IEnumerable<MVCApp.Models.DistrictModel>

<h3> My districts: </h3>
<form method="get">
    <select name="searchPostCode">
        @foreach (var item in Model)
        { 
            <option value="@item.PostCode">@item.PostCode @item.Name</option>
        }
    </select>
    <input type="submit" value="Search" />
</form>