<h3>My districts: </h3>

@using (Html.BeginForm("Search", "District", FormMethod.Get))
{
    @Html.ValidationSummary(true) 
    <fieldset>
        <legend>My districts</legend>
        <div class="editor-field">
            @Html.DropDownList("UserDistrict")
            <input type="submit" value="Search" />
        </div>
        <div>
            Only deleted persons: @Html.CheckBox("DisplayDeletedPersons")
        </div>
    </fieldset>                                  
}