@model IEnumerable<MVCApp.Models.UserProfile>

@{
    ViewBag.Title = @Strings.MenuUsers;
}

<h2>@Strings.MenuUsers</h2>


<div class="button clear-fix">
    <a href="@Url.Action("Register", "Account")" class="withImage">
        <img src='~/Images/WindowsIcons/Light/appbar.edit.add.svg' /> Dodaj
    </a>
</div>

@Html.Partial("_List")