@{
    ViewBag.Title = null;
}

<h2><strong>Jak stworzyć granicę terenu?</strong></h2>

<ol>
    <li>Pobierz i zainstaluj program Google Earth (<a href="https://www.google.com/intl/pl/earth/download/ge/agree.html" rel="noopener noreferrer" target="_blank">https://www.google.com/intl/pl/earth/download/ge/agree.html</a>) .</li>
</ol>