<div class="mapLegend">
    <h4>Ostatnie opracowanie terenu:</h4>

    <ul>
        <li>
            <div class="mapLegendBox mapLegendBoxGreen"></div> 
            do 6 miesięcy
        </li>
        <li>
            <div class="mapLegendBox mapLegendBoxYellow"></div>
            od 6 miesięcy do 1 roku
        </li>
        <li>
            <div class="mapLegendBox mapLegendBoxRed"></div>
            powyżej 1 roku
        </li>
     </ul>
</div>
