@model IEnumerable<MVCApp.Models.District>

@{
    ViewBag.Title = null;
}

<h2>@Strings.MenuMyDistricts</h2>

@Html.Partial("_List")

@Html.Partial("_Map")

<div class="message-info">
    <h2>Zmiany w listach adresów - ustawa GDPR, RODO:</h2>
    <p>        
        W związku z obecnymi wskazówkami naszej organizacji dotyczącymi ustawy "Ogólne rozporządzenie o ochronie danych (GDPR, RODO)" program "Moje tereny" nie będzie już mógł przechowywać danych personalnych osób na terenach (imię, nazwisko i numer telefonu) po 25 Maja 2018 roku.
        Dlatego też, dane osobowe zostały ukryte z list terenów i mapek, a do 25 Maja 2018 zostaną one w pełni usunięte z naszego systemu.        
    </p>
    <p>
        Tereny, ich mapki oraz listy adresów z nazwami ulic oraz ich numerami pozostaną w systemie.
    </p>
</div>
