@model IEnumerable<MVCApp.Models.District>

@{
    ViewBag.Title = null;
}

<h2>@Strings.MenuMyDistricts</h2>

@Html.Partial("_List")

@Html.Partial("_Map")

<div class="message-info">
    <h2>Nowość na stronie:</h2>
    <p><b class="personDoNotVisit">Nie odwiedzać</b> - możliwość zaznaczenia, że dana osoba nie życzy sobie odwiedzin.
        Informacja ta będzie widoczna na drukowanych listach oraz na mapie.
    </p>
    <p><b class="otherPublisherVisiting">Odwiedziny</b> - możliwość zaznaczenia, że odwiedziny u danej osoby są zarezerwowane dla wybranego głosiciela.
        Informacja ta będzie widoczna na drukowanych listach oraz na mapie.
    </p>
    <p><i>
    Aby zaznaczyć jedną z tych opcji dla wybranego terenu, wejdź na "Lista adresów na terenie", kliknij "Edytuj" koło osoby którą chcesz oznaczyć.
    Następnie zaznacz jedną z opcji i podaj dodatkowe informacje, jak data zgłoszenia lub odwiedzający głosiciel.
</i></p>
</div>
