@model IEnumerable<MVCApp.Models.District>

@{
    ViewBag.Title = null;
}

<h2>@Strings.MenuMyDistricts</h2>

@Html.Partial("_List")

<div class="float-right"><img src="~/Images/FrontPicture.jpg" id="frontPicture" /></div>

@Html.Partial("_Map")

