@model IEnumerable<MVCApp.Models.District>

@{
    ViewBag.Title = "My Districts";
}

<h2>My Districts</h2>

<div class="float-right"><img src="~/Images/FrontPicture.jpg" id="frontPicture"/></div>

@Html.Partial("_List")