@model IEnumerable<MVCApp.Models.District>

@{
    ViewBag.Title = Strings.MenuMyDistricts;
}

<h2>@Strings.MenuMyDistricts</h2>

<div class="float-right"><img src="~/Images/FrontPicture.jpg" id="frontPicture"/></div>

@Html.Partial("_List")