@model IEnumerable<MVCApp.Models.Congregation>

@{
    ViewBag.Title = @Strings.MenuCongregations;
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
    
@Html.Partial("_List", Model)
