@model IPagedList<MVCApp.Models.Person>

@{
    ViewBag.Title = "Index";
    int districtId = ViewBag.DistrictId;
    string districtName = ViewBag.DistrictName;
}

<h2>Addresses for @Html.DisplayFor(model => districtName)</h2>

<div>
    <div>
        @using (Ajax.BeginForm(
            "SearchOnKrak", 
            new { id = districtId },
            new AjaxOptions
            {
                HttpMethod = "get",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "personList",
                Url = Url.Action("SearchOnKrak", "SearchAddress", new { id = districtId }),
                LoadingElementId = "ajax-loader"
            }))
        {
            <input type="submit" value="Search addresses on Krak" />
        }
    </div>
    <div>
        @Html.ActionLink("Display adresses of selected people", "SelectedAdresses", "SearchAddress", new { id = districtId}, null)
    </div>
    <div>
        <img src="~/Images/Map.png" alt="District map" style="float:right"/>
    </div>
</div>

<div id="ajax-loader" style="display: none;">
    <img src="~/Images/ajax-loader.gif">
    <p>This can take couple of minutes...</p>
</div>
<div id="personList">
    @Html.Partial("_PersonList")
</div>
