@model List<MVCApp.Models.Person>

@{
    ViewBag.Title = "Selected adresses";
    int districtId = ViewBag.DistrictId;
    string districtName = ViewBag.DistrictName;
}


<h2>Selected adresses</h2>

    <div class="button">
        @Html.ActionLink("Save as PDF", "SelectedAdressesPdfFile", new { id = districtId })
    </div>
    <div class="button">
        @Html.ActionLink("Show on map", "SelectedAdressesMap", new { id = districtId }, new { target = "_blank" })
    </div>
    <div class="spacer" />
<div id="personList">
    @Html.Partial("_SelectedPersonList")
</div>