@model List<MVCApp.Models.Person>

@{
    ViewBag.Title = "Selected adresses";
    int districtId = ViewBag.DistrictId;
    string districtName = ViewBag.DistrictName;
}


<h2>Selected adresses</h2>

    <div>
        @Html.ActionLink("Show on map", "SelectedAdressesMap", new { id = districtId }, new { target = "_blank" })
    </div>
    <div>
        Save adresses as: 
        @Html.ActionLink("text file", "SelectedAdressesTextFile", new { id = districtId })
        | @Html.ActionLink("pdf file", "SelectedAdressesPdfFile", new { id = districtId })
    </div>

<div id="personList">
    @Html.Partial("_SelectedPersonList")
</div>